.vagrant
Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml

clients*
cookbooks/
nodes*
vendor/

.chef/local-mode-cache
.chef/trusted_certs
.chef/delivery-cluster-data